
   		<td>
   			<input type="checkbox" name="selected" [checked]="selected" (change)="toggleSelected()">
   		</td>
   		<td>
   			<a [routerLink]="[task.id]" title="Check details">{{task.name}}</a>
   		</td>
   		<td>
   			{{task.executed_by}}
   		</td>   	
   		<td>
   			{{task.project}}
   		</td>
   		<td>
   			<span [class.sbg-completed]="task.status === 'COMPLETED'" class="px-2 py-1 sbg-badge">{{task.status}}</span>
   		</td>
   		<td class="d-flex align-items-center justify-content-around text-center">
      		 <span title="Delete task" class="sbg-action-iconbtn sbg-text-danger" (click)="deleteTask()">
               <fa name="times"></fa>
            </span>
   		</td>
