:host{
	padding:2rem;

	.sbg-results{
		font-size:.9rem;
		display:flex;
		align-items:center;
	}
	.sbg-form-group{
		max-height:2rem;

		input,select{
			height:inherit;
			font-size:.8rem;
		}
	}
	.sbg-prepend{
		&--inner{
			background-color:transparent;
			border-left:none;
			cursor:pointer;
			transition:.2s;
			&:hover{
				background-color:rgba(0,0,0,.05);
				
			}
		}
	}

	.sbg-status-filter{
		background-color:rgba(0,0,0,.05);
		padding:.2rem 1rem;
		border-radius:.2rem;
		cursor:pointer;
	}

	.sbg-clear-filters{
				color:rgba(0,0,0,.6);
			&:hover{
				color:rgba(0,0,0,.8);
				cursor:pointer;
			}

			&.sbg-disabled{
				pointer-events:none;
			}
		}


}