$body-bg:#e8f5ff;
$body-text:#222c35;

$success:#dafbf3;
$success-accent:#0e906f;

$selected:#daecfb;
$selected-lighter:lighten($selected,5);

$sbg-danger:#e53935;
$sbg-danger-darker:darken($sbg-danger,10);

$sbg-primary:#0288d1;
$sbg-primary-darker:darken($sbg-primary,10);