@import 'ng-snotify/styles/material.scss';
@import 'variables';

body{
	background-color:$body-bg;
	color:$body-text;
}
.sbg-workarea{
	background-color:#ffffff;
	box-shadow:0 1px 1px rgba(0,0,0,0.05);
	border:1px solid #b4c3cf;
	padding:1rem;
	border-radius:4px;
}

.sbg-disabled{
	pointer-events:none;
	opacity:.7;
}

.sbg-action-iconbtn{
	
	font-size:1.1rem;

	&.sbg-text-danger{
		color:$sbg-danger;
	}
	&.sbg-text-primary{
		color:$sbg-primary;
	}
	&:hover{
		cursor:pointer;
		&.sbg-text-danger{
			color:$sbg-danger-darker;
		}
		&.sbg-text-primary{
			color:$sbg-primary-darker;
		}
	}
}

.sbg-badge{
		border-radius:1rem;
		padding:.2rem .6rem;
		&.sbg-completed{
		background-color:$success;
		font-weight:600;
		color:$success-accent;
	}
}

.sbg-control-error{
	box-shadow:0 0 2px 1px $sbg-danger;
}